body {
  background: rgba(0,0,0,0.8);
  color: rgba(255,255,255,0.95);
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out opacity;
}

h1 {
  font-size: 5em;
  font-weight: 600;
  color: rgba(255,255,255,0.9);
  margin-top: 0;
}

h2 {
  font-size: 4em;
  margin-top: -10px;
}

p {
  font-size: 3em;
  color: rgba(255,255,255,0.7);
}


.akaya {
  font-family: 'Akaya Telivigala', cursive;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.noto {
  font-family: 'Noto Sans JP', sans-serif;
}
.lato{
  font-family: 'Lato', sans-serif;
}
.stick {
  font-family: 'Stick', sans-serif;
}
.roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}
.pt-sans {
  font-family: 'PT Sans Narrow', sans-serif;
}
.source-code {
  font-family: 'Source Code Pro', monospace;
}
.anton {
  font-family: 'Anton', sans-serif;
}
.lobster {
  font-family: 'Lobster', cursive;
}
.dancing {
  font-family: 'Dancing Script', cursive;
}
.architects {
  font-family: 'Architects Daughter', cursive;
}
.indie {
  font-family: 'Indie Flower', cursive;
}


@media only screen and (max-width: 600px) {
  body {
    padding: 10vw;
    height: 90vh;
  }

  h1, h2 {
    font-size: 3em;
  }

  p {
    font-size: 1.75em;
  }

  body.even .container {
    margin-top: 40px;
  }

  .new-layout h1, h2 {
    font-size: 2em;
  }
}

body.unloaded {
  background: #000;
}

body section {
  visibility: hidden;
  opacity: 0;
  transition: 1s ease-in-out opacity;
}

body.even .odd-ip {
  display: none;
}

body.even .even-ip {
  visibility: visible;
  opacity: 1;
  height: 300px;
}

body.odd .even-ip {
  display: none;
}

body.odd .odd-ip {
  visibility: visible;
  opacity: 1;
}

body.odd {
  background: #000;
}

body.unloaded .container {
  visibility: hidden;
  opacity: 0;

}

body .container {
  visibility: visible;
  opacity: 1;
}

.container a {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  margin: 12px;
  padding: 12px;
  transition: 0.2s linear;
}

.container a:hover {
  transform: scale(1.25);
}

.new-layout body {
    background: url(/images/light-bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center -90px;
    box-sizing: border-box;
    padding-left: 40%;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    color: #000000 !important;
}

.new-layout body * {
  color: #000000 !important;
}

.new-layout img {
  filter: invert();
}